@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "/null";
@namespace dvt "/null";

af|column::column-header-cell-content {
    background-color: #f7b500; 
    color: #8b5a50; 
    font-weight: bold; 
    border-color: #824c41; 
}

af|column {
    border-color: #873f37; 
    border-width:2pt;
}

af|table {
    border-color: #4f3320; 
    border-width:2pt;
    border: 2px solid #636661; 
}

af|table::data-row {
    border-color: #782c1c; 
}

af|inputText {
    border-color: Black; 
    }

af|inputText::content {
    border-color: Black; 
    font-size: small; 
    font-style: normal; 
}

af|column::column-filter-cell {
    border-color: #686868; 
    border: thin; 
    color: Black; 
    background-image: none; 
}

af|tree {
    border-color: Black; 
    font-size: large; 
            }

af|treeTable {
    text-align: right; 
    font-size: medium; 
    color: Black; 
}

af|column::banded-data-cell {
    border-color: #434343; 
}

af|column::data-cell {
    border: thin; 
    font-size: medium; 
    color: Black; 
    font-family: Arial; 
    border-color: Black; 
}

.AFTableCellFrozenBorder:alias {
    border: medium; 
    border-color: #844200; 
}

af|tree::collapsed-icon {
    background-color: #ffff73; 
    color: Highlight; 
    border-color: #ff8400; 
}

af|tree::collapsed-icon-style {
    height: 15px; 
    width: 15px; 
}

af|tree::data-cell {
    background-color: rgb(214,255,148); 
    color: ActiveBorder; 
}

af|commandLink {
    width: 20px; 
    font-size: large; 
    tab-size: 8; 
}

.AFDefaultFontFamily:alias {
    font-size: large; 
}